---
---
<footer>
    Creado por <b>Santos Alarcón</b> con <a href="https://astro.build"
        target="_blank">Astro</a>
</footer>

<style>
    footer {
        border-top: 1px white solid;
        text-align: center;
        padding: 1em 0;
    }
</style>
